.assignments h2 { 
    font-size: 65px;
    color: rgb(78, 160, 78);
    border-bottom: solid white 5px;
    width: 22%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;

}

.box a{ 
    width: 50px;
    height:25px; 
    background: transparent;
    text-decoration: none;
    margin: 30px;
    font-size: 1.5em;
    color: black;
    border-bottom: solid white 3px;
    transition: .3s ease-in;

}

.box a:hover{ 
    border-bottom: solid rgb(78, 160, 78) 3px;
}

.links { 
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}